.blocked-global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.blocked-title {
    text-align: center;
}

.blocked-container-list {
    list-style-type: none;
    padding: 0;
}

.blocked-list-item:hover {
    background-color: #c9c6c6;
}
.blocked-list-item {
    background-color: white;
    color: black;
    margin-bottom: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    justify-content: center;
}

.blocked-task-icon {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.blocked-link{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
