.card-global-container {
    font-weight: bold;
    color: white;
}

.card-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card-rating{
    width: 30%;
    margin-left: 12px;
}
.card-title {
    width: 70%;
    margin: 0;
}
.card-info-client,
.card-info-claim {
    display: flex;
    flex-direction: column;
}

.card-info-client-name,
.card-info-client-phone,
.card-info-client-dni,
.card-info-client-contract,
.card-info-claim-category {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.card-input-name,
.card-input-dni,
.card-input-phone,
.card-input-contract,
.card-select-category,
.card-text-claim {
    border: none;
    background: #c9c6c6;
    border-radius: 6px;
    padding: 8px 10px;
    width: 50%;
}

.card-text-claim {
    width: 100%;
    height: 100px;
    font-family: "Vodafone",Helvetica,Arial,sans-serif;
    margin-top: 8px;
    font-size: 0.9rem;
}

.card-footer {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.card-footer-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
