.score-global-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.score-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score-rating {
    margin-left: 12px;
    width: 30%;
}
.score-rating-title {
    width: 70%;
}

.score-result-container {
    display: flex;
    flex-direction: column;
}

.score-time,
.score-footer {
    margin-bottom: 12px;
}

.score-points-text,
.score-time-text {
    text-decoration: underline;
}